PORT=3004
DOMAIN=localhost
PROTOCOL=http
LISTEN_HOST=0.0.0.0
LOCAL=true

REDIS_URL=redis://localhost:6379
SESSION_ID=perplexity01
REDIS_SYNC_INTERVAL=300000

HEADLESS=false
CHROME_BIN=
CHROME_USER_DATA_DIR=./chrome-profile
CHROME_PROFILE_DIRECTORY=Default
CHROME_SOURCE_USER_DATA_DIR=
