PORT=3004
DOMAIN=localhost
PROTOCOL=http
LISTEN_HOST=0.0.0.0
LOCAL=true

REDIS_URL=redis://localhost:6379
SESSION_ID=perplexity01
REDIS_SYNC_INTERVAL=300000
JALL_API_URL=http://localhost:3002/api

HEADLESS=false
CHROME_BIN=
CHROME_USER_DATA_DIR=./chrome-profile
CHROME_PROFILE_DIRECTORY=Default
CHROME_SOURCE_USER_DATA_DIR=

# Linux examples:
# CHROME_BIN=/usr/bin/google-chrome
# CHROME_SOURCE_USER_DATA_DIR=/home/ubuntu/.config/google-chrome
